


  * {
   box-sizing: border-box;
   
}

body {
   
   width: 100%;
   background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(monkey.jpg);
   background-position: center;
   background-size: cover;
   height: 100vh;
  }
.imageColumn {
   float: left;
   width: 25%;
   padding: 10px;
}
h1{
   text-align: center;
}
.imageColumn{
   text-decoration: none;
   color: #fff;
   font-family: Arial;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}


.special{
   font-size: 200px;
   color: #fff;
}

  